<h1>Sign Up</h1>

<form  action="<%= users_url %>" method="post">
  <label>username
    <input type="text" name="user[username]" value="">
  </label>

  <label>password
    <input type="password" name="user[password]" value="">
  </label>

  <input type="submit" value="Submit">
</form>
